{% extends "tethys_apps/app_base.html" %}

{% load staticfiles %}

{% block title %}{{ tethys_app.name }}{% endblock %}

{% block app_icon %}
    {# The path you provided in your app.py is accessible through the tethys_app.icon context variable #}
    <img src="{% static tethys_app.icon %}">
{% endblock %}

{# The name you provided in your app.py is accessible through the tethys_app.name context variable #}
{% block app_title %}{{ tethys_app.name }}{% endblock %}

{% block app_navigation_items %}
    <li class="title">Layers</li>

    <!-- Land Use Layer -->
    <div class="pretty p-switch p-fill" style="padding: 15px 20px 10px;">
        <input type="checkbox"/>
        <div class="state">
            <label>Land Use</label>
        </div>
    </div>

    <!-- Population Layer -->
    <div class="pretty p-switch p-fill" style="padding: 15px 20px 10px;">
        <input type="checkbox"/>
        <div class="state">
            <label>Population</label>
        </div>
    </div>

    <!-- Buildings Layer -->
    <div class="pretty p-switch p-fill" style="padding: 15px 20px 10px;">
        <input type="checkbox"/>
        <div class="state">
            <label>Buildings</label>
        </div>
    </div>

    <li class="separator"></li>

    <!-- Default Buttons
    Hi Wade!
    <li class="title">Steps</li>
    <li><a href="">1. The First Step</a></li>
    <li><a href="">2. The Second Step</a></li>
    <li><a href="">3. The Third Step</a></li>
    {#  <li class="separator"></li>#}
    <li><a href="">Get Started</a></li>
    -->
{% endblock %}

{#{% block app_actions %}#}
{#{% endblock %}#}

{% block content_dependent_styles %}
    {{ block.super }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.2.0/leaflet.css"/>
    <link rel="stylesheet"
          href="https://cdn.rawgit.com/socib/Leaflet.TimeDimension/master/dist/leaflet.timedimension.control.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css"/>
    <link href="{% static 'yaque_del_norte_viewer/css/main.css' %}" rel="stylesheet"/>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.2.0/leaflet.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/nezasa/iso8601-js-period/master/iso8601.min.js"></script>
    <script type="text/javascript"
            src="https://cdn.rawgit.com/socib/Leaflet.TimeDimension/master/dist/leaflet.timedimension.min.js"></script>
    <script src="{% static 'yaque_del_norte_viewer/js/main.js' %}" type="text/javascript"></script>
{% endblock %}
